<template>
    <div>
        Halaman Social
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data() {
        return {
            code:'',
            provider:''
        }
    },
    mounted() {
        this.code = this.$route.query.code
        this.provider = this.$route.path.split('/')[2]
        // console.log(this.code)
        this.go(this.provider,this.code)
    },
    computed: {
        ...mapGetters({
            'user' : 'auth/user'
        })
    },
    methods: {
        ...mapActions({
            setAlert : 'alert/set',
            setAuth : 'auth/set',
            setDialogStatus : 'dialog/setStatus',
            setPhoto : 'auth/setPhoto'
        }),
        go(provider,code){
            let url = '/api/social/'+provider+'/callback?code='+code
            axios.get(url)
            .then((response) => {
                let data = response.data
                // console.log(data)
                this.setAuth(data)
                if(this.user.user.id.length>0){
                    this.setAlert({
                        status : true,
                        color : 'success',
                        text : 'Login Success'
                    })
                    this.setPhoto(this.user.user.photo)
                    this.setDialogStatus(false)
                    this.$router.push('home')
                }
            })
            .catch((error) => {
                this.setAlert({
                    color : error,
                    text : 'Login Failed',
                    status : true
                })
            })
        }
    }
}
</script>

<style>

</style>